{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "false",
        "corejs":"3"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ]
}