/*@import './_settings/variables.pcss';*/
/*@import '../scripts/_atomic/_settings/variables.pcss';*/

/*@import './bootstrap.css';*/

/*@import './_utilities/h.pcss';*/
/*@import './_utilities/opacity.pcss';*/
/*@import './_utilities/width-cols.pcss';*/

@font-face {
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/fonts/OpenSans-Italic.ttf');
    src:url('/assets/fonts/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/OpenSans-Bold.ttf');
    src:url('/assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/OpenSans-Regular.ttf');
    src:url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

html {
    font-size: 16px;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 13px;
    line-height: 16px;
    background-color: var(--mint_cream);
}

::placeholder {
    color: var(--logan);
}

*:focus {
    outline: none !important;
}

.form-control:focus, .btn:focus, .btn.focus {
    box-shadow: none;
}

.text-black {
    color: rgba(0, 0, 0, 1) !important;
}

.text-black-25 {
    color: rgba(0, 0, 0, 0.25) !important;
}

.text-black-50 {
    color: rgba(0, 0, 0, 0.5) !important;
}

.text-black-75 {
    color: rgba(0, 0, 0, 0.75) !important;
}

.tooltip-inner {
    background-color: var(--solitude) !important;
    color: var(--black);
    max-width: 580px;
}

.tooltip .arrow {
    display: none;
}
.page-link  {
    color: var(--black);
}

.page-item.active .page-link {
    background-color: var(--logan);
    border-color: var(--logan);
}

.table-fixed {
    table-layout: fixed;
}

.star-ratings{
    line-height: 0;
}