@import '../_settings/variables.pcss';

.opacity-0 {
    opacity: 0;
}
.opacity-1 {
    opacity: 0.25;
}
.opacity-2 {
    opacity: 0.5;
}
.opacity-3 {
    opacity: 0.75;
}
.opacity-4 {
    opacity: 1;
}